/*navigation styles -------------------------------------------------------------------------------------------*/
.navbar-container {
  margin-bottom: 0; }
  .navbar-container .fake-logo {
    background-color: #E0E0E0;
    margin: 4%;
    color: #5DADE2; }
    .navbar-container .fake-logo .main-title-logo {
      margin-top: 7%; }
  @media only screen and (max-width: 480px) {
    .navbar-container .desktop-navigation {
      display: none; } }
  .navbar-container .navigation-links {
    position: absolute;
    bottom: 0px;
    right: 0px; }
    .navbar-container .navigation-links .nav-tabs li.active a {
      background-color: #E0E0E0;
      border-bottom: 10px solid #5DADE2;
      border-left: none;
      border-right: none; }
    .navbar-container .navigation-links .nav-tabs li a {
      color: #555;
      height: 110px;
      width: 100px;
      padding-top: 30%; }
  @media screen and (min-width: 480px) {
    .navbar-container .mobile-navigation {
      display: none; } }
  .navbar-container .mobile-navigation .mobile-nav-button {
    position: absolute;
    top: 50px;
    right: 10px;
    font-size: 20pt;
    color: #5DADE2;
    background-color: #E0E0E0;
    border: none; }
  .navbar-container .mobile-navigation .mobile-navigation-content {
    display: none;
    position: fixed;
    z-index: 100;
    top: 100px;
    width: 100%;
    opacity: 0.8; }
    .navbar-container .mobile-navigation .mobile-navigation-content ul {
      padding: 0;
      list-style-type: none; }
    .navbar-container .mobile-navigation .mobile-navigation-content li a {
      float: left;
      width: 90%;
      color: #f2f2f2;
      padding: 14px 16px;
      font-size: 20px;
      border-bottom: 1px solid white;
      background-color: black; }
    .navbar-container .mobile-navigation .mobile-navigation-content li a.active {
      background-color: #003366; }

/*main content styles-------------------------------------------------------------------------------------------*/
.main-content {
  padding-top: 4%;
  background-color: #E0E0E0; }
  .main-content .button-main {
    background-color: #00FA9A;
    border: none;
    margin: 1% 2% 5% 2%; }
  .main-content .profile-card {
    padding-bottom: 4%; }
    .main-content .profile-card .profile-main-content {
      margin: 4%; }
      .main-content .profile-card .profile-main-content .profile-title {
        border-bottom: 1px solid #A9A9A9;
        line-height: 0.1em;
        margin: 10px 0 20px; }
        .main-content .profile-card .profile-main-content .profile-title span {
          background: #E0E0E0;
          padding-right: 2%; }
      .main-content .profile-card .profile-main-content .personal-info {
        background-color: white;
        height: 200px; }
        .main-content .profile-card .profile-main-content .personal-info .fake-profile-pic {
          margin: 4%;
          height: 80%;
          background-color: #5DADE2; }
        .main-content .profile-card .profile-main-content .personal-info .fake-profile-info {
          margin: 4%; }

/*# sourceMappingURL=mystyles.css.map */
